.sportsodds{
    background-color: #fff;
    /*padding: 0 5px;*/
    overflow: auto;
    
}
body.wide #sports_odds .sleague_item { margin-bottom: 10px; }
body.wide .league_events_wrapper {               
    overflow: auto;
    height: auto;
    margin: 0 auto;
    position: relative;  
    margin-bottom: 10px;
}

.browser-msie-7 .odds_table{
border-collapse: collapse;
border: 0px;
}
.browser-msie-7 .odds_table .odds_tr td { border-top: 1px solid #fff; }
.browser-msie-7 .single_event_odds .odds_table .odds_tr td { border-top: 0; }
.odds_table{
    width: 100%;
    margin:0 auto;
    padding: 0;
    background-color: #202020;
    border-spacing: 0
}
.champ_title span {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
}
.h_bt_sel{
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    border-spacing: 2px;
    padding: 2px 3px;
    width: 40px;
}
.h_bt_sel.h_bt_sel_sov { background:  transparent;font-size: 90%; }
.odt{
    display:inline-block;
    padding: 0px 5px;
    white-space: normal; /*requested by AG - #3023 */
    margin: 0 3px;
}
.h_bt_name{
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;          
    border-spacing: 2px;
    padding: 1px 0;
    
}
.title_tr_sel{
    border-spacing: 2px;
    background-color: #333;
    background: #202020;
    
}
.noevbt .odds_table { display: none; }

.sportsodds .odds_tr:not(.nohover):hover,
.sportsodds .odds_tr .nodds {
    background-color: rgba(0,0,0,0.45);
}
.odds_tr td.ev_sel_odd{
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    line-height: 12px;
    padding: 3px 1px;
    height: 1px;
    width: 1px;
}
.odds_tr td.ev_sel_odd.ev_sel_odd_dyn {
    min-width: 40px;
}
.sportsodds .odds_tr:hover .ev_sel_odd {
    
}
.ev_sel_odd.odd_sov{
    font-size: 90%;
    color: #949494;
}
.league_data .ev_sel_odd.odd_sov { background-color: #333; }
.ev_sel_odd_tn > span { display: inline-block;padding: 0 5px; }
.ev_sel_odd a,
.ev_sel_odd a:hover,
.ev_sel_odd a:visited {
    font-size: 11px;
    display: block;
    line-height: 22px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    min-width: 20px;
    min-height: 22px;
    border: 1px solid #7c7c7c;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: rgba(67,67,67,1);
    background: -moz-linear-gradient(top, rgba(67,67,67,1) 0%, rgba(113,111,112,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(67,67,67,1)), color-stop(100%, rgba(113,111,112,1)));
    background: -webkit-linear-gradient(top, rgba(67,67,67,1) 0%, rgba(113,111,112,1) 100%);
    background: -o-linear-gradient(top, rgba(67,67,67,1) 0%, rgba(113,111,112,1) 100%);
    background: -ms-linear-gradient(top, rgba(67,67,67,1) 0%, rgba(113,111,112,1) 100%);
    background: linear-gradient(to bottom, rgba(67,67,67,1) 0%, rgba(113,111,112,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#716f70', GradientType=0 );
}
.browser-chrome .ev_sel_odd a,
.browser-chrome .ev_sel_odd a:hover,
.browser-chrome .ev_sel_odd a:visited {height:100%;}
.ev_sel_odd.ev_sel_odd_result a,
.ev_sel_odd.ev_sel_odd_result a:hover,
.ev_sel_odd.ev_sel_odd_result a:visited { text-align: right; }
.ev_sel_odd.selected a,
.ev_sel_odd.selected a:hover,
.ev_sel_odd.selected a:visited {
    background: #000;
    color: #eee;
}
.ev_sel_odd a:hover,
.ev_sel_odd.selected a:hover {
    background: #000;
    cursor: pointer;
    color: #fff;
}
.ev_sel_odd.disabled_odd a { cursor: default; }
.ev_sel_odd span.name {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    float: left;
    background-color: rgba(51,51,51,0.9);
}
.single_event_odds .ev_sel_odd span.odd {
    text-align: right;
    padding-right: 5px;
    display: inline-block;
}

.league_icons_area {
    position: absolute;
    right: 2px;/*0*/
    top: 3px;/*15px*/
    z-index: 99;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 0;
}
.close_league {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}
.league_icons_area .add_to_fav {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.league_icons_area .add_to_fav.loading { cursor: wait; }
.league_icons_area .lai {
    font-family: "FontAwesome";
    border-radius: 100%;
    font-size: 14px;
    font-weight: normal;
    color: #000;
}
.league_icons_area .lai:hover {
    background-color: rgba(255,255,255,0.25);
}
.league_icons_area .toggle_league_visibility {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.sports_odds_home { display: none; }
.sports_odds_home .league_icons_area { display: none; }
.league_icons_area .lai.disabled { color: rgba(0,0,0,0.45);cursor: default; }
.close_league:before { font-family: "FontAwesome";content: "\f00d"; }
.league_icons_area .add_to_fav:before { content: "\f005"; }
.league_icons_area .add_to_fav.loading:before { content: "\f1ce"; }

.league_icons_area .toggle_league_visibility:before { content: "\f0d8"; }
.closed .league_icons_area .toggle_league_visibility:before { content: "\f0d7"; }
.sleague_item.closed .league_data_btm { border-bottom: 3px solid #333; }

.more_odds{
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    width: 45px;
}
div.more_odds {
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 99;
    width: 40px;
}
.more_odds span {
    display: block;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    width: 40px;
}
div.more_odds span {
    position: absolute;
    top: 50px;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}
div.more_odds span.close {
    top: 5px;
}
.more_odds span:before {
    content: "\f068";
    font-family: "FontAwesome";
    font-size: 14px;
    text-align: center;
}
.more_odds span.close:before { content: "\f067"; }
.more_odds span.nobtc { height: 30px; }
.more_odds span.nobtc:before { content: ""; }
.odds_tr td.ev_datetime{
    font-size: 11px;
    padding-left: 4px;
    width: 80px;
}
.ev_datetime .evdt_div{ padding: 0 2px;color: rgba(255,255,255,0.45); }
.bts_sp_l{
    width: 1px;              
}
.bts_sp_l > div { width: 1px;overflow:hidden; }
.h_bt_sp{
    width: 10px;              
}
.ev_name{
    font-size: 12px;
    /*text-transform: uppercase;*/
    /* padding: 7px 0; */
    min-width: 170px;
}
.ev_name a, .ev_name a:hover, .ev_name a:visited { color: #fff; }
.ev_name_wrp { position: relative;padding-right: 20px;}
.dyn_tbl_tr .ev_name_wrp { padding-right: 0; }
.ev_name_wrp .icons_area {
position: absolute;
top: 0;
right: 0;
}
.ev_name .ev_public_id {
    display: inline-block;
    margin-right: 8px;
    font-size: 11px;
    color: #e0e0e0;
    min-width: 30px;
}
.icons_area a.event_stats,
.icons_area a.event_stats:hover,
.icons_area a.event_stats:visited {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #ec2028;
    background-image: url(/media/sportsbook/t0/images/sport_icons/stats_black.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}/*
.ev_name_wrp .icons_area .event_stats:before {
    content: "\f012";
    font-family: "FontAwesome";
    font-size: 14px;
}*/
@media all and (max-width: 1100px) {
    .ev_name_wrp .icons_area { top: 8px; }
    .ev_name .competitor_div { display: none; }
    .ev_name .competitor1,.ev_name .competitor2 { display: block;white-space: nowrap; }
    .ev_datetime { width: 90px; }
    .ev_datetime .evdt_date, .ev_datetime .evdt_time{ display: block; }
    .ev_datetime .evdt_div { display: none; }
}
.ev_name a,.ev_name a:hover,.ev_name a:visited {
    text-decoration: none;
}
.dyn_bt_name { border-top: 1px solid #FFF;padding: 0 3px;line-height: 20px; }
.ev_name .competitor1, .ev_name .competitor2 { white-space: nowrap; }
.m_odds{
    font-size: 12px;
    text-decoration: underline;
    text-align: right;
    width: 30px;
}
.m_odds a,
.m_odds a:hover,
.m_odds a:visited {
    display: inline-block;
    margin-right: 3px;
    padding: 0 2px;
    text-decoration: none;
}
.odds_tr, .odds_tr_dyn{
    padding: 0;
}
.dyn_tbl_tr td{ line-height: 20px;background-color:#D0D0D0; }
.btc_group_links {
    margin: 0 auto;  
    text-transform: capitalize;
    border-spacing: 4px;          
}
.btc_group_links a,
.btc_group_links a:hover,
.btc_group_links a:visited{
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 4px 8px;
    float: left; 
    font-size: 11px;
    text-transform: uppercase;
    margin: 1px;
    background-color: rgba(0,0,0,0.25);
    box-sizing: border-box;
    width: 19.89%;
}

.btc_group_links.swiper_on,
.btc_bt_links.swiper_on {
    display: block;
}
.btc_group_links.swiper_on a,
.btc_group_links.swiper_on a:hover,
.btc_group_links.swiper_on a:visited{
    float: none;
    margin: 1px 0;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.btc_group_links.swiper_on a:last-child{
    border-right: none;
}

 @media only screen and (max-width: 1500px){
 .btc_group_links a,
.btc_group_links a:hover,
.btc_group_links a:visited{
    width: 24.8%;
  } 
  
 }

 @media only screen and (max-width: 1300px){
 .btc_group_links a,
.btc_group_links a:hover,
.btc_group_links a:visited{
    width: 33%;
  } 
  
 }
.btc_group_links a:hover{
    
    background-color: #6e6e6e;
    color: #000;
    cursor: pointer;     
}
.sport_league_title{
    margin: 0 auto;
    padding-top: 15px;         
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #fff;
    width: 100%;
    position: absolute;
}
.sport_league_header {
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
}
.sport_league_header { line-height: 30px; }
.noev .sport_league_title{ position: relative;padding-bottom: 5px; }
.bt_group_holder{
    padding:  0;
    margin: 0;
    overflow: auto;
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;  
}
.btc_group_links {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: stretch;
    flex-direction: row;
    align-items: stretch;
}
.sport_league_header span.slt_league_title,
.sport_league_title span.slt_league_title {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
}
.clear{
    clear: both;
}
.btc_bt_links {
    margin: 0 auto;
    margin-top: 0;
    text-transform: none;
    border-spacing: 4px;          
    background-color: #616161;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: stretch;
    flex-direction: row;
    align-items: stretch;
    
}
.btc_bt_links a,
.btc_bt_links a:hover,
.btc_bt_links a:visited{
    text-align: center;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    padding: 3px 4px;
    font-size: 12px;    
    margin: 1px;
    box-sizing: border-box;
    width:19.8%;
}
.btc_bt_links.swiper_on a,
.btc_bt_links.swiper_on a:hover,
.btc_bt_links.swiper_on a:visited{
    margin: 1px 0;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.btc_bt_links.swiper_on a:last-child{
    border-right: none;
}
.btc_bt_links.swiper_on a span{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

 @media only screen and (max-width: 1920px){
  .btc_bt_links a,.btc_bt_links a:hover,.btc_bt_links a:visited{
    width: 24.7%;
  } 
 } 

 @media only screen and (max-width: 1600px){
  .btc_bt_links a,.btc_bt_links a:hover,.btc_bt_links a:visited{
    width: 33%;
  }   
     
 }

 @media only screen and (max-width: 1200px){
  .btc_bt_links a,.btc_bt_links a:hover,.btc_bt_links a:visited{
    width: 49%;
  }   
     
 }
.btc_bt_links a:hover{
    background-color: #333;
    cursor: pointer; 
        
}
.league_odd_bt_item {
    display: none;
}
.league_odd_bt_item.selected { display: inline-block; }
a.league_odd_bt_item.display_odds { background-color: #fff;cursor: default;color:#000; }
a.league_odd_group_item_default.display_odds,
a.league_odd_group_item_default.selected,
a.league_odd_group_item.selected { background-color: #6e6e6e;color:#fff;cursor: default; }
.fullt {
    display: none;
    clear: both;       
    /*margin-top: 38px;*/
    z-index: 1;
    border-top-width: 0;
    border-top-style: solid;
    border-top-color: rgb(0, 0, 0);
}
.fullt.open { display: block; }

.odds_open{
    position: relative;
}

#sports_odds .sleague_item .sleague_dyn { margin: 5px 0; }
#sports_odds .sleague_item .sleague_dyn table { width: 100%; }
.sleague_item .odds_td_dyn.name { padding-left: 4px; }


.soh_banner img {
display: block;
max-width: 100%;
height: auto;
}
.soh_content { margin: 10px 0; }

/*.soh_content .league_events_wrapper { margin-bottom: 7px; }*/

.sports_scroll_single_event {
position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;display: none;
}
.single_event_holder, .bet_types_cols_holder { margin: 0 5px; }
.sports_scroll_single_event .single_event_odds {
position: absolute;
top: 80px;
bottom: 0;
left: 0;
right: 0;
overflow: auto;
z-index: 9999;
}
.sports_scroll_single_event .single_event_odds .single_scroll { height: 100%; }


.single_event_holder .close_league { position:absolute;top: 5px;right: 9px;color:#fff;background-color: rgba(0,0,0,0.75); }
.single_event_holder .single_event_info {
    padding: 5px;
    font-size:14px;
    color:#fff;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.single_event_holder.sport_1 .single_event_info {
    background-image: url(/media/sportsbook/t6/images/single_event/slbg_1.jpg);
}
.single_event_holder.sport_2 .single_event_info {
    background-image: url(/media/sportsbook/t6/images/single_event/slbg_2.jpg);
}
.single_event_holder.sport_3 .single_event_info {
    background-image: url(/media/sportsbook/t6/images/single_event/slbg_3.jpg);
}
.single_event_holder.sport_4 .single_event_info {
    background-image: url(/media/sportsbook/t6/images/single_event/slbg_4.jpg);
}
.single_event_holder.sport_5 .single_event_info {
    background-image: url(/media/sportsbook/t6/images/single_event/slbg_5.jpg);
}
.single_event_holder.sport_6 .single_event_info {
    background-image: url(/media/sportsbook/t6/images/single_event/slbg_6.jpg);
}
.single_event_holder.sport_7 .single_event_info {
    background-image: url(/media/sportsbook/t6/images/single_event/slbg_7.jpg);
}
.single_event_holder.sport_9 .single_event_info {
    background-image: url(/media/sportsbook/t6/images/single_event/slbg_9.jpg);
}
.single_event_holder.sport_10 .single_event_info {
    background-image: url(/media/sportsbook/t6/images/single_event/slbg_10.jpg);
}
.single_event_holder.sport_12 .single_event_info {
    background-image: url(/media/sportsbook/t6/images/single_event/slbg_12.jpg);
}
.single_event_holder.sport_18 .single_event_info {
    background-image: url(/media/sportsbook/t6/images/single_event/slbg_18.jpg);
}
.single_event_holder.sport_23 .single_event_info {
    background-image: url(/media/sportsbook/t6/images/single_event/slbg_23.jpg);
}
.single_event_holder.sport_36 .single_event_info {
    background-image: url(/media/sportsbook/t6/images/single_event/slbg_36.jpg);
}
.single_event_holder.sport_69 .single_event_info {
    background-image: url(/media/sportsbook/t6/images/single_event/slbg_36.jpg);
}
.single_event_holder.sport_11 .single_event_info {
    background-image: url(/media/sportsbook/t6/images/single_event/slbg_11.jpg);
}

.single_event_holder .single_event_info .sli_div.sli_div_le { font-size: 0;display:block;height:0;overflow:hidden }
.single_event_holder .single_event_info .sli_event { font-size: 18px;font-weight: 500;text-transform: uppercase;line-height: 28px; }

.odds_res {
    text-transform: uppercase;
    text-align: center;
    font-size: 11px;
    background-color: #E6E6E6;
    border-spacing: 2px;
    padding: 3px 4px;
    min-width: 40px;
}
.odds_res_sov { background-color: #F6F6F6; }

.single_event_odds .odds_table {
    border-spacing: 0;
}
/*.single_event_odds div { color: #FFF; }*/


.search-for {
position: relative;
z-index: 999;
background-color: #eee;
margin: -5px;
margin-bottom: 0;
padding: 20px 5px;
font-size: 14px;
text-transform: uppercase;
}
.search-for .search_str { font-size: 18px; font-weight: 500; }
.search_results .preloader {
    font-size: 20px;color:#666;
    margin-top: 5px;
    text-align: center;
    display: inline-block;
}
.search_results .preloader .fa.fa-3x { font-size: 20px;color:#666; }

@media all and (min-width: 1400px) {
.bet_types_cols_holder { font-size: 0;vertical-align: top; }
.bet_types_cols_holder .bet_types_col {
display: inline-block;
font-size: 11px;
width: 50%;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
vertical-align: top;
}
.bet_types_cols_holder .bet_types_col.bet_types_col_col1 { padding-right: 5px; }
.bet_types_cols_holder .bet_types_col.bet_types_col_col2 { padding-left: 5px; }
}

/*@media all and (min-width: 1300px) and (max-width:1499px) { .single_event_odds .ev_name { width: 30%; } }
@media all and (min-width: 1200px) and (max-width:1299px) { .single_event_odds .ev_name { width: 40%; } }*/
@media all and (min-width: 1300px) and (max-width:1499px) { .bet_types_cols_holder .bet_types_col { max-width: 800px;margin:auto; } }


#sports_odds > .sports_scroll.scrollbar-inner { position: relative; }

.footer_row .footer_sel {
    background-color: #E6E6E6;
}
.footer_row .footer_sel span {
    display: block;
    height: 2px;
    overflow: hidden;
}

.odds_noevents_tr td { padding: 0 5px; }

.soh_content.soh_content_upcoming .title_tr_bt { display: none; }
.soh_content .home_sports_holder { display: none; }
.soh_content .home_sports_holder.selected { display: block; }

.soh_content_feat_stats {
    position: relative;
}
.soh_content_feat_stats:after {
    content: " ";
    clear:both;
    display: block;height:1px;
}
.soh_content_feat_stats .featured_event_stats {
    background-color: #141414;
    background-image: url(/images/sportsbook/bg_blk_ln.PNG);
    background-position: 0 0;
    background-repeat: repeat-x;
    padding-top: 5px;
    overflow: hidden;
}
.soh_content_feat_stats .ft_desc {
    padding: 15px 10px;
}
.soh_content_feat_stats .teams_area {
    float: left;
    width: 210px;
}
.soh_content_feat_stats .teams_area .ev_team { padding: 5px 20px; }
.soh_content_feat_stats .teams_area .team_name,
.soh_content_feat_stats .teams_area .team_logo { display:inline-block;vertical-align: middle; }
.soh_content_feat_stats .teams_area .team_name { 
    margin-left: 20px;
    font-size: 15px;
    width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.soh_content_feat_stats .teams_area img {
    max-width: 60px;
    height: auto;
    display: block;
}
.soh_content_feat_stats .stats_area { padding-top: 20px;margin-left: 210px;padding-right:20px; }
.soh_content_feat_stats .stats_area table { width: 100%; }
.soh_content_feat_stats .stats_area table .sel_name { width: 1%;padding-right: 20px; }
.soh_content_feat_stats .stats_area table .ev_sel_odd { width: 30px;padding-right: 20px; }

.soh_content_feat_stats .perc_bg {
    background-color: #666;
    border: 1px solid #505050;
}
.soh_content_feat_stats .sel_perc .perc_width {
    height: 20px;
    background-color: #CCC;
    position: relative;
    overflow: hidden;
}
.soh_content_feat_stats .sel_perc .perc_width:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: rgba(255,255,255,0.1);
    content: " ";
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.soh_content_feat_stats .loop_0 .sel_perc .perc_width { background-color: #0ba416; }
.soh_content_feat_stats .loop_2 .sel_perc .perc_width { background-color: #ff0101; }
.soh_content_feat_stats .prc_min .sel_perc .perc_width { background-color: rgba(246, 123, 17, 0.5); }
.soh_content_feat_stats .prc_mid .sel_perc .perc_width { background-color: rgba(246, 123, 17, 0.8); }
.soh_content_feat_stats .prc_max .sel_perc .perc_width { background-color: rgba(246, 123, 17, 1); }


.soh_content_feat_stats .sel_perc_val {
    width: 1%;
    padding-left: 20px;
    font-size: 14px;
}
.soh_content_feat_stats .event_link {
    padding: 5px 20px 10px 0;
    text-align: right;
    font-size: 14px;
    text-transform: uppercase;
}
.soh_content_feat_stats .event_link a { text-decoration: none; }

.soh_content_feat_stats .stats_area table .odds_tr td a.ev_sel_odd { min-width: 40px; }

.sports_event_results { margin-top: 10px; }
.single_event_result {
    background-color: #141414;
    background-image: url(/images/sportsbook/bg_blk_ln.PNG);
    background-position: 0 0;
    background-repeat: repeat-x;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
}
.single_event_result_pad { padding: 5px 10px; }
.single_event_result .info_top { color: #ccc; }
.single_event_result .info_top .league_name { float: left; }
.single_event_result .info_top .league_ev_dt { float: right; }
.single_event_result .team_names {
    padding: 2px 0;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 7px;
    /*text-transform: uppercase;*/
}
.single_event_result .scoreboard {
    width: 120px;
    height: 48px;
    overflow: hidden;
    float: left;
    margin-right: 11px;
    background-image: url(/media/sportsbook/general/images/scoreboard.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}
.single_event_result .scoreboard .team_score {
    font-size: 32px;
    color: #FFF;
    font-weight: bold;
    float: left;
    width: 59px;
    text-align: center;
    line-height: 48px;
}
.single_event_result .scoreboard .team1_score {margin-right:1px;}
.single_event_result .scoreboard .team2_score {}

.single_event_result .bet_type_result { margin-left: 100px; }
.single_event_result .scoreboard_tbl { width: 100%; }
.single_event_result .scoreboard_tbl .tr_sel_names { text-align: center; }

.single_event_result .ev_sel_odd a,
.single_event_result .ev_sel_odd a:hover,
.single_event_result .ev_sel_odd a:visited { background: #383838;cursor: default; }
.single_event_result .ev_sel_odd.win a,
.single_event_result .ev_sel_odd.win a:hover,
.single_event_result .ev_sel_odd.win a:visited { border-color: #0ba416; }

.sb_results_home_side { width: 100%; }


.soh_market_movers { margin-top: 10px; }
.market_movers_area { background-color: #303030; }
.market_movers_info {
    background-color: #3b393a;
    border-bottom: 1px solid #666;
    margin-bottom: 2px;
}
.soh_market_movers .market_movers_info table { width: 100%; }
.soh_market_movers .market_movers_info .mm_icon { width: 12px; }
.soh_market_movers .market_movers_info .mm_name { padding-right: 10px; }
.soh_market_movers .single_market_mover_event {
    background-color: #141414;
    background-image: url(/images/sportsbook/bg_blk_ln.PNG);
    background-position: 0 0;
    background-repeat: repeat-x;
    padding: 0;
    border-bottom: 1px solid #0f0f0f;
}
.soh_market_movers .single_market_mover_event_padd {
    padding-top: 2px;
    padding-bottom: 4px;
}
.soh_market_movers .single_market_mover_event .league_name { font-size: 11px; color: #999;text-transform: uppercase;padding: 0 5px;display: none; }
.soh_market_movers .single_market_mover_event .team_names { padding: 0 8px;padding-bottom: 1px;border-bottom:1px solid #333;margin-bottom: 4px;/*text-transform: uppercase;*/ }
.soh_market_movers .single_market_mover_event table { width: 100%; }
.soh_market_movers .single_market_mover_event .smm_tbl { padding: 0 5px; }
.soh_market_movers .single_market_mover_event .selname { padding-left: 10px;text-align: right;padding-right:2px;width:1px;display: none; }
.soh_market_movers .single_market_mover_event .selname:first-child { padding-left: 0; }

.soh_market_movers .ev_sel_odd a,
.soh_market_movers .ev_sel_odd a:hover,
.soh_market_movers  .ev_sel_odd a:visited {
    /*background: rgba(113,111,112,1);
    background: -moz-linear-gradient(top, rgba(113,111,112,1) 0%, rgba(67,67,67,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(113,111,112,1)), color-stop(100%, rgba(67,67,67,1)));
    background: -webkit-linear-gradient(top, rgba(113,111,112,1) 0%, rgba(67,67,67,1) 100%);
    background: -o-linear-gradient(top, rgba(113,111,112,1) 0%, rgba(67,67,67,1) 100%);
    background: -ms-linear-gradient(top, rgba(113,111,112,1) 0%, rgba(67,67,67,1) 100%);
    background: linear-gradient(to bottom, rgba(113,111,112,1) 0%, rgba(67,67,67,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#716f70', endColorstr='#434343', GradientType=0 );
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);*/
    border-color: #777;
    padding-left: 9px;
    padding-right: 5px;
    position: relative;
    overflow: hidden;
}
.soh_market_movers .ev_sel_odd a:before {
    font-family: "FontAwesome";
    font-size: 14px;
    content: "\f068";
    line-height: 18px;
    width: 8px;
    height: 13px;
    overflow: hidden;
    text-align: left;
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 5px;
    z-index: 10;
}
.soh_market_movers .ev_sel_odd a:after {
    position: absolute;
    z-index: 9;
    -ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
    width: 40px;
    height: 40px;
    background: rgba(255,255,255,0.1);
    top: -20px;
    left: -19px;
    content: " ";
}

.soh_market_movers .ev_sel_odd.up a,
.soh_market_movers .ev_sel_odd.up a:hover,
.soh_market_movers  .ev_sel_odd.up a:visited {
    /*background: rgba(5,218,19,1);
    background: -moz-linear-gradient(top, rgba(5,218,19,1) 0%, rgba(11,164,22,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(5,218,19,1)), color-stop(100%, rgba(11,164,22,1)));
    background: -webkit-linear-gradient(top, rgba(5,218,19,1) 0%, rgba(11,164,22,1) 100%);
    background: -o-linear-gradient(top, rgba(5,218,19,1) 0%, rgba(11,164,22,1) 100%);
    background: -ms-linear-gradient(top, rgba(5,218,19,1) 0%, rgba(11,164,22,1) 100%);
    background: linear-gradient(to bottom, rgba(5,218,19,1) 0%, rgba(11,164,22,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05da13', endColorstr='#0ba416', GradientType=0 );*/
    border-color: #0ba416;
    
}
.soh_market_movers .ev_sel_odd.down a,
.soh_market_movers .ev_sel_odd.down a:hover,
.soh_market_movers  .ev_sel_odd.down a:visited {
    /*background: rgba(249,59,68,1);
    background: -moz-linear-gradient(top, rgba(249,59,68,1) 0%, rgba(224,20,30,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,59,68,1)), color-stop(100%, rgba(224,20,30,1)));
    background: -webkit-linear-gradient(top, rgba(249,59,68,1) 0%, rgba(224,20,30,1) 100%);
    background: -o-linear-gradient(top, rgba(249,59,68,1) 0%, rgba(224,20,30,1) 100%);
    background: -ms-linear-gradient(top, rgba(249,59,68,1) 0%, rgba(224,20,30,1) 100%);
    background: linear-gradient(to bottom, rgba(249,59,68,1) 0%, rgba(224,20,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f93b44', endColorstr='#e0141e', GradientType=0 );*/
    border-color: #e0141e;
}

/* long arrows */
.soh_market_movers .ev_sel_odd.up a:before { content: "\f176";color: #9ad69e;color:#fff;line-height: 22px; }
.soh_market_movers .ev_sel_odd.down a:before { content: "\f175";color: #cab6b7;line-height: 7px;margin-top: 4px;color:#fff; }
.soh_market_movers .ev_sel_odd.up a:after { background-color: #0ba416; }
.soh_market_movers .ev_sel_odd.down a:after { background-color: #e0141e; }
/* buffed arrows * /
.soh_market_movers .ev_sel_odd.up a:before { content: "\f062";color: #9ad69e; }
.soh_market_movers .ev_sel_odd.down a:before { content: "\f063";color: #cab6b7; }*/

.mm_icon > span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #CCC;
    margin: auto;
}
.mm_icon > span.mm_icon_up { background-color: #0ba416; }
.mm_icon > span.mm_icon_dn { background-color: #ee1f29; }


.single_ev_btc_wrapper a { font-size: 12px; }
.bet_types_col .odds_table.hide_btcol { display: none; }

.single_ev_btc_wrapper {
    margin: 0 5px;
    padding: 1px;
    font-size: 0;
    background-color: #303030;
}
.single_ev_btc_wrapper .bci_link {
    display: inline-block;
    margin: 1px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    padding: 4px 8px;
    float: left;
    font-size: 11px;
    text-transform: uppercase;
    background-color: #282828;
}
.single_ev_btc_wrapper .bci_link:hover { background-color: #303030; }
.single_ev_btc_wrapper .bci_link.selected { 
background: rgba(74,74,74,1);
    background: -moz-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(110,110,110,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(74,74,74,1)), color-stop(100%, rgba(110,110,110,1)));
    background: -webkit-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(110,110,110,1) 100%);
    background: -o-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(110,110,110,1) 100%);
    background: -ms-linear-gradient(top, rgba(74,74,74,1) 0%, rgba(110,110,110,1) 100%);
    background: linear-gradient(to bottom, rgba(74,74,74,1) 0%, rgba(110,110,110,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#6e6e6e', GradientType=0 );
    -webkit-box-shadow: inset 0px 3px 7px 2px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 3px 7px 2px rgba(0,0,0,0.35);
    box-shadow: inset 0px 3px 7px 2px rgba(0,0,0,0.35);
}

.single_event_odds .odds_table { margin-top: 10px;border: 1px solid rgba(0,0,0,0.45); }
.single_event_odds .odds_tr td { border-top: 0; }
.single_event_odds .odds_trs td { padding-bottom: 5px; }
.single_event_odds .odds_tr td.h_bt_sel { text-align: left;text-transform: none; }
.single_event_odds .odds_tr td .bt_sov { font-weight: bold;display: inline-block;margin-left: 3px; }

.sports_scroll_single_event .generic_error {
    margin: 0 5px;
    padding: 5px;
    background-color: #ee1f29;
}

.sleague_item .preloader.absolute_tl { position: absolute; top: 9px;left: 5px; }
.the_menu .preloader .fa,
.preloader.event_preload .fa { font-size: 20px;color:#666; }

.single_event_odds td.marg { width: 4px; }
.single_event_odds .cat5_row td.marg { width: 0px;padding-left:0;padding-right:0;max-width: 0px; }
.single_event_odds .odds_table.odds_tbl_cat5 .ev_sel_odd span.odd { padding-right: 0; }
.single_event_odds .odds_table.odds_tbl_cat5 .title_tr_bt .bts_name_dyn { text-align: center; }
.sports_scroll_single_event .preloader {text-align: center;display: block;}
.sports_scroll_single_event .preloader .fa { font-size: 20px;color:#666; }

.soh_content .btc_group_links a,
.soh_content .btc_group_links a:hover,
.soh_content .btc_group_links a:visited {
    min-width: 140px;
}


.antepost_league_event_info { padding: 5px; }
.antepost_league_event_info .antepost_date,
.antepost_league_event_info .antepost_name { display: inline-block; }
.antepost_league_event_info .antepost_name { font-size: 120%;padding-left: 8px;font-weight: bold; }

.antepost_odds_tbl .bts_sp_l { background-color: #000; }
.antepost_odds_tbl .odds_tr td { border-top-width: 2px; }
.antepost_odds_tbl .odds_tr td.ev_sel_odd.ev_sel_odd_dyn { padding-right: 3px; }
#sports_odds .sleague_antepost.sleague_item .sleague_dyn { margin-top: 0; }

.league_events_wrapper .odds_tr_dyn_container > td { padding: 0;padding-bottom: 2px;background-color: #000; }
.league_events_wrapper .odds_tr_dyn_container .ev_info_dyn { background-color: #202020; }
.league_events_wrapper .odds_tr_dyn_container .ev_info_dyn { background-color: #121212; }
.league_events_wrapper .odds_tr_dyn_container .ev_info_dyn .sev_info_info { padding: 5px 0;background-color: #121212; }
.league_events_wrapper .sleague_dyn table.odds_tr_dyn_dynbt_area { border-spacing: 0; }
.league_events_wrapper .sleague_dyn table.odds_dynbt_cat4 { border-spacing: 0; }


.btcat6_list .odds_table.odds_table_dyn {
    border: 1px solid #000;
}

.single_event_holder .bet_types_cols_holder .odds_open {
    max-width: 100%;
    overflow-x: auto;
}
.single_event_holder .bet_types_cols_holder .odds_open .odds_tbl_cat5 .ev_sel_odd a { min-width: 30px; }
.single_event_holder .bet_types_cols_holder .odds_open .odds_tbl_cat5 .bt_name_dyn { min-width: 100px; }

.sov_hide { display: none; }
.sov_opt_dd .sov_show { display: none; }
.sov_opt_dd { position: relative; }

.sov_opt_dd {
    border: 0;
    min-width: 60px;
    outline: none;
    width: 100%;
    font-size: 10px;
}
.dark-color-scheme .sov_opt_dd {
    background-color: #333;
    color: #eee;
}
.dark-color-scheme .sov_opt_dd:active,
.dark-color-scheme .sov_opt_dd:hover,
.dark-color-scheme .sov_opt_dd:focus { outline: none;border: 0; }

/* single event slider carousel*/
.cycle-carousel-wrap {
    width: 100% !important;
}